<nav role="navigation" class="navbar-fixed-top" style="margin-top: 50px;">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse" id="sidebar-area">
            <ul class="nav" id="sidebar">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <div class="search-icon">
                        <a href="#"><i class="fa fa fa-search fa-fw"></i></a>
                    </div>
                </li>
                <li>
                    <a href="/dashboard" name="loadTabContent" data-id="dashboard" data-src="dashboard"
                        title="Dashboard">
                        <i class="fa fa-dashboard fa-fw"></i>
                        <span class="side-menu-title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/flights" name="loadTabContent" data-id="tables" data-src="tables" title="Tables"><i
                            class="fa fa-table fa-fw"></i> <span class="side-menu-title">Flights</span></a>
                </li>
                <div class="menu-toggler sidebar-toggler fa fa-exchange fa-fw navbar-right">
                </div>
        </div>
    </div>
</nav>